*{
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}


.home-background{
  background-image: url('./imgs/chess-home2.jpg');
  
  background-position: center;
  background-repeat: no-repeat;
  /* height: calc(100vh - 78px); */
  height: 100%;
}

.nav-slideIn{
  animation: slideIn 500ms;
  color: white;

}
.nav-slideOut{
  animation: slideOut 500ms;
}

@keyframes slideIn{
  from{
    top:-50vh;
  }
  to{
    top:78px;
  }
}
@keyframes slideOut{
  from{
    top:78px;
  }
  to{
    top:-50vh;
  }
}

.bubble {
	position: relative;
	width: 300px;
  height: 30%;
	text-align: center;
	line-height: 1.4em;
	margin: 40px auto;
	background-color: #E0E0E0;
	border: 8px solid #E0E0E0;
	border-radius: 30px;
	font-family: sans-serif;
	padding: 20px;
	font-size: large;
}

.bubble:before,
.bubble:after {
	content: ' ';
	position: absolute;
	width: 0;

  
	height: 0;
}

.speech:before {
	left: 30px;
	bottom: -50px;
	border: 25px solid;
  
	border-color: #E0E0E0 transparent transparent #E0E0E0;
}

.speech:after {
	left: 38px;
	bottom: -30px;
	border: 15px solid;
  
	border-color: #E0E0E0 transparent transparent #E0E0E0;
}

.dots-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.dot {
  height: 20px;
  width: 20px;
  margin-right: 10px;
  border-radius: 10px;
  background-color: #b1b1b1;
  animation: pulse 1.5s infinite ease-in-out;
}

.dot:last-child {
  margin-right: 0;
}

.dot:nth-child(1) {
  animation-delay: -0.3s;
}

.dot:nth-child(2) {
  animation-delay: -0.1s;
}

.dot:nth-child(3) {
  animation-delay: 0.1s;
}

@keyframes pulse {
  0% {
    transform: scale(0.8);
    background-color: #B1B1B1;
    box-shadow: 0 0 0 0 rgba(178, 212, 252, 0.7);
  }

  50% {
    transform: scale(1.2);
    background-color: #3B3B3B;
    box-shadow: 0 0 0 10px rgba(178, 212, 252, 0);
  }

  100% {
    transform: scale(0.8);
    background-color: #b1b1b1;
    box-shadow: 0 0 0 0 rgba(178, 212, 252, 0.7);
  }
}

.invalidForm{
  animation: shake 0.2s ease-in-out 0s 2;
}

@keyframes shake {
  0% { margin-left: 0rem; }
  25% { margin-left: 0.35rem; }
  75% { margin-left: -0.35rem; }
  100% { margin-left: 0rem; }
}

/* .form-name:focus + .label-name{
  top: -1rem;
  font-size: 0.88rem;
}

.form-pw:focus + .label-pw{
  top: -1rem;
  font-size: 0.88rem;
} */

.box-white{
  width: 10%;
  height: 10%;
  border: 1px solid grey;
  display: inline-block;
  margin: -2px;
}
.box-black{
  width: 10%;
  height: 10%;
  border: 1px solid grey;
  display: inline-block;
  margin: -2px;
  background-color: #6699cc;
}

/*Game.jsx CSS*/

.game-grid{
  display:grid;
  grid-template-columns:repeat(auto-fit, minmax(300px, 1fr));
 
  column-gap: 4.5rem;
  row-gap: 1rem;

}

.chessOnlineImg{

  transition: all ease-in-out 200ms; 
  /* background-position: 100% 0; */
  /* background-repeat: no-repeat; */
  background-image: url('./imgs/rookBlack.png');
  object-fit: fill; 
  background-position: -10% 100%;
  background-size: contain;
  /* background-size: 45% 50%; */
  background-color: #ebecf0;
  background-repeat: no-repeat;
}
.chessOnlineImg:hover {
  background-image: url('./imgs/rookWhite.png');
  background-position: 110% 0;
  transform:scale(1.2);
}

.chessLocalImg{
  transition: all ease-in-out 200ms; 

  background-image: url('./imgs/kingBlack.png'),url('./imgs/kingWhite.png');
  object-fit: fill; 
  background-position: -20% 100%, 120% 100%;
  background-size: contain, contain;

  background-color: #ebecf0;
  background-repeat: no-repeat;
}
.chessLocalImg:hover {
  background-image: url('./imgs/kingWhite.png'), url('./imgs/kingBlack.png');
  transform:scale(1.2);
}

.comingSoonImg{
  transition: all ease-in-out 200ms; 
  background-color: #ebecf0;
}
.comingSoonImg:hover{
  transform:scale(1.2);
}

/*ChessGameServer.jsx CSS*/
.chessOnline-grid{
  display:grid;
  grid-template-columns:repeat(auto-fit, minmax(400px, 1fr));
 
  column-gap: 2.5rem;
  row-gap: 1rem;
}

.three-body {
  --uib-size: 35px;
  --uib-speed: 0.8s;
  --uib-color: #5D3FD3;
  position: relative;
  display: inline-block;
  height: var(--uib-size);
  width: var(--uib-size);
  animation: spin78236 calc(var(--uib-speed) * 2.5) infinite linear;
 }
 
 .three-body__dot {
  position: absolute;
  height: 100%;
  width: 30%;
 }
 
 .three-body__dot:after {
  content: '';
  position: absolute;
  height: 0%;
  width: 100%;
  padding-bottom: 100%;
  background-color: var(--uib-color);
  border-radius: 50%;
 }
 
 .three-body__dot:nth-child(1) {
  bottom: 5%;
  left: 0;
  transform: rotate(60deg);
  transform-origin: 50% 85%;
 }
 
 .three-body__dot:nth-child(1)::after {
  bottom: 0;
  left: 0;
  animation: wobble1 var(--uib-speed) infinite ease-in-out;
  animation-delay: calc(var(--uib-speed) * -0.3);
 }
 
 .three-body__dot:nth-child(2) {
  bottom: 5%;
  right: 0;
  transform: rotate(-60deg);
  transform-origin: 50% 85%;
 }
 
 .three-body__dot:nth-child(2)::after {
  bottom: 0;
  left: 0;
  animation: wobble1 var(--uib-speed) infinite
     calc(var(--uib-speed) * -0.15) ease-in-out;
 }
 
 .three-body__dot:nth-child(3) {
  bottom: -5%;
  left: 0;
  transform: translateX(116.666%);
 }
 
 .three-body__dot:nth-child(3)::after {
  top: 0;
  left: 0;
  animation: wobble2 var(--uib-speed) infinite ease-in-out;
 }
 
 @keyframes spin78236 {
  0% {
   transform: rotate(0deg);
  }
 
  100% {
   transform: rotate(360deg);
  }
 }
 
 @keyframes wobble1 {
  0%,
   100% {
   transform: translateY(0%) scale(1);
   opacity: 1;
  }
 
  50% {
   transform: translateY(-66%) scale(0.65);
   opacity: 0.8;
  }
 }
 
 @keyframes wobble2 {
  0%,
   100% {
   transform: translateY(0%) scale(1);
   opacity: 1;
  }
 
  50% {
   transform: translateY(66%) scale(0.65);
   opacity: 0.8;
  }
 }

.opponentMoveBtn{
  position: relative;
}
 .opponentMoveBtn::before{
  position: absolute;
  content:'';
  bottom: -5px;
  left: -5px;
  height: 20px;
  width: 20px;
  border-radius: 2rem;
  background-color: #AAAAAA;
 }
 .loader {
  
  display: flex;
  justify-content: space-evenly;
}

.ball {
  list-style: none;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #616161;
}

.ball:nth-child(1) {
  animation: bounce-1 1.5s ease-in-out infinite;
}

@keyframes bounce-1 {
  50% {
    transform: translateY(-7px);
  }
}

.ball:nth-child(2) {
  animation: bounce-3 1.5s ease-in-out 0.3s infinite;
}

@keyframes bounce-2 {
  50% {
    transform: translateY(-7px);
  }
}

.ball:nth-child(3) {
  animation: bounce-3 1.5s ease-in-out 0.6s infinite;
}

@keyframes bounce-3 {
  50% {
    transform: translateY(-7px);
  }
}